@model UserModel
@{
    ViewData["Title"] = "Usuário";
}
<div>
    <h3>Exclusão de usuário</h3>
    <form asp-controller="Users" asp-action="Delete" method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-control" asp-for="Name" value="@Model.Name" readonly />
        </div>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" class="form-control" asp-for="Nickname" value="@Model.Nickname" readonly />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" asp-for="Email" value="@Model.Email" readonly />
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" class="form-control" asp-for="Password" value="00000000" readonly />
        </div>
        <div class="form-group">
            <label for="accessType">Tipo de acesso</label>
            <select id="accessType" class="form-select" asp-for="AccessType" selected="@Model.AccessType.GetHashCode()" disabled>
                <option value="0">Adm</option>
                <option value="1">Student</option>
                <option value="2">Teacher</option>
            </select>
        </div>

        <br />

        <div class="alert alert-danger" role="alert">
            Você está prestes a excluir este registro do sistema, deseja continuar?

            <button type="submit" class="btn btn-primary float-end">Sim</button>
            <a class="btn btn-secondary float-end" asp-controller="Users" asp-action="Index">Não</a>
        </div>
    </form>
</div>