@model UserModel
@{
    ViewData["Title"] = "Usuário";
}
<div>
    <h3>Edição de usuário</h3>
    <form asp-controller="Users" asp-action="Update" method="post">
        <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" id="name" class="form-control" asp-for="Name" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" id="nickname" class="form-control" asp-for="Nickname" value="@Model.Nickname" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" class="form-control" asp-for="Email" value="@Model.Email" />
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" id="password" class="form-control" asp-for="Password" value="00000000" />
        </div>
        <div class="form-group">
            <label for="accessType">Tipo de acesso</label>
            <select id="accessType" class="form-select" asp-for="AccessType" selected="@Model.AccessType.GetHashCode()">
                <option value="0">Adm</option>
                <option value="1">Student</option>
                <option value="2">Teacher</option>
            </select>
        </div>

        <br />
        <button type="submit" class="btn btn-primary float-end">Salvar</button>
        <a class="btn btn-secondary float-end" asp-controller="Users" asp-action="Index">Voltar</a>
    </form>
</div>